<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Advanced Finance Tracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <h1><a href="{{ url_for('index') }}">Finance Tracker</a></h1>
      <nav>
        <a href="{{ url_for('add_tx') }}">Add</a>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        <a href="{{ url_for('export_csv') }}">Export CSV</a>
      </nav>
    </div>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  <footer class="container">
    <p>Made with Python & Flask • Local demo</p>
  </footer>
</body>
</html>
